#custom > h1,
h2,
h3,
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#custom > h1 {
    font-size: 1.7em;
}
#custom > h2 {
    font-size: 1.4em;
}
#custom > h3 {
    font-size: 1.2em;
}
#custom > h4 {
    font-size: 1.1em;
}
#custom > ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
